.grid-sys{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    background-color: aquamarine;
}


.ltx-form{
    @each $key, $val in $palet_numbers{
        .rd#{$key}{
            border-radius: $val;
        }
      }
    @each $key, $val in $palet_numbers{
    .mt#{$key}{
        margin-left: $val;
    }
    }
    @each $key, $val in $palet_numbers{
        .mb#{$key}{
            margin-left: $val;
        }
    }

    input{
        width: 100%;
        outline: none;
        border: 1px solid $base_grey;
        font-size: $base_font_size;
        padding: $base_padding;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        outline: none;
        border: 1px solid #d8d8d8;
        font-size: $base_font_size;
        padding: $base_padding; 
        box-sizing: border-box;
    }
}

.ltx-input{
    width: 100%;
    outline: none;
    border: 1px solid $base_grey;
    font-size: $base_font_size;
    padding: 5px;
    box-sizing: border-box;
}
.ltx-textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d8d8d8;
    font-size: $base_font_size;
    padding: 5px; 
    box-sizing: border-box;
}

