@each $key, $val in $palet_numbers{
    .border-#{$key}{
      border:$val solid #333;
    }
}
.no-border{
    border: none;
}

.ltx-btn{
padding: $base_padding;
border: none;
background-color: $base-grey;
cursor: pointer;
}