@use 'sass:math';

//@varcolor
$base_color: #FFD700;
$base_grey:lighten(#d8d8d8, 2%);
$primary:#326dee;
$secondary:#1ac888;
$error:#d32752;
$info:#f6c31c;
$white:#ffffff;
$dark:#333;
$pink:#FFC0CB;
$purple:#EE82EE;
$brown:#A52A2A;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "white": $white,
  "dark": $dark,
  "pink": $pink,
  "purple": $purple,
  "brown": $brown,
  "grey": $base_grey,
);

//@base_measure
$base_border_radius:20px;
$base_font_size:16px;
$base_font_weignt:500;
$base_padding:0.75rem;
$base_margin:0.75rem;
$base_border_thickness:1px;

$palet_numbers:(
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
  "6": 6px,
  "7": 7px,
  "8": 8px,
  "9": 9px,
  "10": 10px,
  "11": 11px,
  "12": 12px,
  "13": 13px,
  "14": 14px,
  "15": 15px,
  "16": 16px,
  "17": 17px,
  "18": 18px,
  "19": 19px,
  "20": 20px,
  "50": 50px,
  "100": 100px,
);

$vh_numbers:(
  "0": 0,
  "1": 5vh,
  "2": 10vh,
  "3": 15vh,
  "4": 20vh,
  "5": 25vh,
  "6": 30vh,
  "7": 35vh,
  "8": 40vh,
  "9": 45vh,
  "10": 50vh,
  "11": 55vh,
  "12": 60vh,
  "13": 65vh,
  "14": 70vh,
  "15": 75vh,
  "16": 80vh,
  "17": 85vh,
  "18": 90vh,
  "19": 95vh,
  "20": 100vh,
);
$vw_numbers:(
  "1": 5vw,
  "2": 10vw,
  "3": 15vw,
  "4": 20vw,
  "5": 25vw,
  "6": 30vw,
  "7": 35vw,
  "8": 40vw,
  "9": 45vw,
  "10": 50vw,
  "11": 55vw,
  "12": 60vw,
  "13": 65vw,
  "14": 70vw,
  "15": 75vw,
  "16": 80vw,
  "17": 85vw,
  "18": 90vw,
  "19": 95vw,
  "20": 100vw,
);
$width_numbers:(
  "0": 0,
  "1": 5%,
  "2": 10%,
  "3": 15%,
  "4": 20%,
  "5": 25%,
  "6": 30%,
  "7": 35%,
  "8": 40%,
  "9": 45%,
  "10": 50%,
  "11": 55%,
  "12": 60%,
  "13": 65%,
  "14": 70%,
  "15": 75%,
  "16": 80%,
  "17": 85%,
  "18": 90%,
  "19": 95%,
  "20": 100%,
);

//@var_font_family
$base_font_family:Arial, Helvetica, sans-serif;


@debug map-get($colors, "primary");
@debug map-has-key($colors, "primary");